.issues-header,
.issue-list_item {
    padding: 8px 15px;
}

.issues-header {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
}

.issue-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.issue-list_item {
    border-top: 0 solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.issue-status,
.issue-preview {
    display: inline-block;
}

.issue-status {
    vertical-align: top;
    margin-right: 10px;
    color: #4cae4c;
}

.issue-preview_header {
    margin-top: 0;
    margin-bottom: 5px;
}

.issue-perview_info {
    color: #767676;
    font-size: .9em;
}

.page-selected {
    font-weight: bold;
}

.issue-list-container {
    position: relative;
}

.loading-screen {
    position: absolute;
    z-index: 1100;
    background-color: #fff;
    opacity: .9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}